* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --WHITE: #125e8a;
  --DARK_RED: #4a2a24;
  --LIGHT_BLUE: #45567d;
  --LIGHT_WHITE: #f0f0f0;
  --WHITE_2: #f8fae5;
}

body {
  background-color: var(--WHITE_2);
  color: var(--DARK_RED);
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  justify-content: flex-start;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--DARK_RED);
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--WHITE_2);
  align-items: center;
}

#nav ul {
  display: flex;
  margin-right: 1rem;
}

#nav ul li {
  list-style: none;
}

#nav ul li a {
  color: var(--WHITE_2);
  display: block;
  text-align: center;
  padding: 1.5rem;
  text-decoration: none;
}

#nav ul li a:hover {
  background-color: #33151f;
}

a {
  color: var(--LIGHT_WHITE);
  text-decoration: none;
  text-align: center;
  display: block;
}

section {
  padding-top: 5rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.heading-section {
  text-align: center;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.heading-section h1 {
  color: var(--DARK_RED);
  font-size: 2.8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heading-section p {
  color: var(--LIGHT_BLUE);
  font-size: 1.4rem;
  font-weight: normal;
  font-style: italic;
  font-family: inherit;
  width: 40%;
  text-align: justify;
  text-justify: none;
}

.resume {
  color: var(--WHITE_2);
  background-color: var(--DARK_RED);
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 2rem;
  font-size: 0.9rem;
}

.resume i {
  width: 20px;
}

.skills article {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: var(--DARK_RED);
  gap: 2rem;
  width: 60%;
  margin: auto;
}

.skills article > div {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.skills article div h2 {
  margin: 1rem 0;

}

.skill-list{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

.skills article div p {
  background-color: var(--DARK_RED);
  color: var(--WHITE_2);
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 5px 10px;
}

.title {
  width: 40%;
  color: var(--DARK_RED);
  font-size: 2.5rem;
  margin: auto;
  text-align: center;
  border-bottom: 1px solid var(--WHITE);
}

.project-list {
  display: grid;
  padding: 0 10rem;
  margin: 3rem auto;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.project-tile {
  border: 1px solid var(--DARK_RED);
  background-color: var(--DARK_RED);
  border-radius: 1.7rem;
}

.project-tile i {
  display: none;
}

.project-tile img {
  width: 100%;
  height: 260px;
  border-radius: 1.7rem;
}

.project-tile {
  color: var(--WHITE_2);
  text-align: center;
  padding: 10px;
  font-size: large;
  letter-spacing: 1px;
}

.code {
  color: var(--DARK_RED);
  transition: color 0.3s ease-out;
}

.project-tile:hover .code {
  color: var(--WHITE_2);
}

#projects > a {
  background-color: var(--DARK_RED);
  width: 150px;
  padding: 15px;
  margin: auto;
  font-size: 1.2rem;
  transition: background 0.3s ease-out;
  border-radius: 2rem;
}

#projects i {
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

#profile-link:hover i {
  transform: translateX(5px);
}

.contacts {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.contacts h1 {
  color: var(--DARK_RED);
  font-size: 3.3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contacts p {
  color: var(--WHITE);
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 50;
}

.contact {
  margin-top: 2rem;
  display: flex;
  width: 80%;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
}

.contact-details {
  list-style: none;
  font-size: 1.4rem;
}

.contact-details a {
  display: block;
  color: var(--DARK_RED);
  padding: 1.7rem;
  transition: transform 0.3s ease-out;
}

.contact-details:hover a {
  transform: translatey(10px);
}

footer {
  font-style: none;
  color: var(--DARK_RED);
  padding: 30px;
  margin: auto;
  text-align: center;
}

@media (max-width: 1450px) {
  .project-list {
    padding: 0 3rem;
    gap: 2rem;
  }
}

@media (max-width: 1100px) {
  .project-list {
    padding: 0 2rem;
    gap: 2rem;
  }

  .title {
    width: 80%;
    font-size: 2rem;
  }

  .heading-section p {
    width: 60%;
  }
  .project-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
}

@media (max-width: 850px) {
  .heading-section p {
    width: 80%;
  }

  .skills article {
    width: 70%;
  }
}

@media (max-width: 600px) {
  #nav ul {
    margin-right: 0;
    width: 100vw;
    justify-content: space-around;
  }

  #nav ul li a {
    padding: 0.5rem;
    min-height: 2rem;
  }

  .heading-section h1 {
    font-size: 2.5rem;
  }

  .heading-section p {
    font-size: 1.5rem;
    text-align: center;
  }

  .title {
    width: 80%;
    font-size: 2rem;
  }
  .heading-section p {
    width: 85%;
    min-width: 200px;
  }


  .resume {
    padding: 10px;
  }

  .skills article {
    flex-direction: column;
  }

  .skill-list{
    gap:1rem;
  }

  .project-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    min-width: 70%;
  }

  .project-tile i {
    display: inline;
    font-size: smaller;
  }

  .contacts h1 {
    font-size: 2.5rem;
  }
}
